html,
body {
  padding: 0;
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero{
  background-color:#EDEEF3 ;
}
.hero-section{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
  margin-bottom: 70px;
}

.hero-1{
  text-align: start;
 
}
.hero-1 span{
  font-weight: 400;
}
.hero-1 h1{
  font-size: 2.6rem;
  font-weight: 800;
}
.hero-1 p{
  font-size: 18px;
  line-height: 30px;
}
.hero-1 button{
  background-color: #274BFF;
  border: 0;
  padding: 15px 30px;
  font-size: 15px;
  color: white;
  border-radius: 5px;
 
}

.hero-1 button:hover{
color: black;
}
.hero-2 img{
width: 120%;
}

/* popular course css */

.popularCourse-title{
  position: relative;
  text-align: start;
}
.popularCourse-title h1{
  font-size: 40px;
}
.p-info p{
  color: black;
}
.p-info p:hover{
color: #2B4EFF;

}
.fa-arrow-right{
  margin-left: 5px;
}
.items{
  display: flex;
  align-items: center;
}
.items-svg{
 width: 40px;
 height: 40px;
 margin-left: 40px;

}

.items-info{
  line-height: 8px;
  margin-left: 25px;
  text-align: start;
}
.items-info h3{
  color:#2B4EFF ;
}

.item:hover .items-info h3{
  color: aliceblue;
}
.item{
  border: 2px solid #ebe9eb;;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
 
}
.item:hover{
  background: #2B4EFF;
  color: white;
  border: 2px solid #2B4EFF;
  
}
.popularCourse-title span{
  margin-left: 15px;
}
.popularCourse-title span img {
  position: absolute;
  left: 70px;
  bottom: 20px;
  z-index: -1;
  width: 180px;
}

/* count preloader */



.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content-placeholder {
  max-width: 600px;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 20px;
}

.header {
  width: 100%;
  margin-bottom: 50px;
}

.header .word {
  height: 50px;
  margin-right: 12px;
}

.word {
  height: 18px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  background: white;
  border-radius: 10px;
  display: inline-block;
}

.paragraph {
  margin-bottom: 40px;
}

.progress-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
}

@media (max-width: 600px) {
  .content-placeholder {
    padding-left: 80px;
  }

  .progress-icon {
    width: 70px;
    height: 70px;
    left: 10px;
    top: 10px;
  }

  .header .word {
    height: 30px;
  }

  .word {
    height: 14px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .paragraph {
    margin-bottom: 20px;
  }
}

/* Nested Route */
.window {
  height: 100%;
 
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

nav {
  background: #ffffff;
  
 
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  flex-grow: 1;
  user-select: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

ul {
  display: flex;
  width: 100%;
}

li {
  width: 100%;
  padding: 10.5px ;
  position: relative;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
  border:1px solid
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

li.selected {
  background: #274BFF;
}

li button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #000;
  margin-left: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.add-item {
  width: 30px;
  height: 30px;
  background: #eee;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.add-item:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}
